# Token Verification

---

**Next**: [Endpoints &raquo;](endpoints.md)
